[user]
	name = Pranav Kumar Mishra
	email = 62562712+pranavmishra90@users.noreply.github.com
	signingkey = 35FE9A236AC80F3FF8299A15509C9F1324C7FCA8

[core]
	editor = nano
[commit]
	template = /home/pranav/git/git-commit-template.txt
	gpgsign = true
[safe]
	directory = /mnt/c/Programming/server-setup
	directory = /mnt/c/Programming/server-startup
	directory = /home/jovyan/lab
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
[help]
	autocorrect = 20
[alias]
	last = log -1 HEAD
	undo-commit = reset HEAD~
[init]
	defaultBranch = main
[gcrypt]
	rsync-put-flags = chrv
	participants = 35FE9A236AC80F3FF8299A15509C9F1324C7FCA8
