repos:

  # PRE-COMMIT
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Lint files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: |
            (?x)^(
                .devcontainer/devcontainer.json|
                exclude.example.json
            )$
      - id: mixed-line-ending
        args: ["--fix=lf"]
      # Prevent adding private keys in files
      - id: detect-private-key
      # Detect problematic files
      - id: check-symlinks
      - id: check-added-large-files